/Keepa/.bundle

/Keepa/db/*.sqlite3
/Keepa/db/*.sqlite3-journal

/Keepa/log/*
/Keepa/tmp/*
!/Keepa/log/.keep
!/Keepa/tmp/.keep

Keepa/.byebug_history



/KeepaClient/.bundle

/KeepaClient/db/*.sqlite3
/KeepaClient/db/*.sqlite3-journal

/KeepaClient/log/*
/KeepaClient/tmp/*
!/KeepaClient/log/.keep
!/KeepaClient/tmp/.keep

KeepaClient/.byebug_history
